# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.xmake/windows/x64/project.lock
.xmake/windows/x64/xmake.conf
.xmake/windows/x64/cache/config
.xmake/windows/x64/cache/cxxmodules
.xmake/windows/x64/cache/detect
.xmake/windows/x64/cache/history
.xmake/windows/x64/cache/option
.xmake/windows/x64/cache/package
.xmake/windows/x64/cache/project
.xmake/windows/x64/cache/references
.xmake/windows/x64/cache/repository
.xmake/windows/x64/cache/toolchain
.xmake/windows/x64/cache/vsxmake
bin/windows_x64_debug/compile.CoraEngineGame.pdb
bin/windows_x64_debug/compile.CoraEngineLibrarie.pdb
bin/windows_x64_debug/CoraEngineGame.ilk
bin/windows_x64_debug/CoraEngineGame.pdb
bin/windows_x64_debug/CoraEngineLibrarie.exp
bin/windows_x64_debug/CoraEngineLibrarie.ilk
bin/windows_x64_debug/CoraEngineLibrarie.pdb
bin/windows_x64_debug/Resources/Level/Map_1.png
build/.vs/CoraEngineGame/x64/debug/CoraEngineGame.log
build/.vs/CoraEngineLibrarie/x64/debug/CoraEngineLibrarie.log
vs2019/.vs/vs2019/v16/.suo
vs2019/.vs/vs2019/v16/Browse.VC.db
vs2019/.vs/vs2019/v16/Solution.VC.db
vs2019/.vs/vs2019/v16/ipch/AutoPCH/7a9dbe7f7013c893/MAIN.ipch
vs2019/.vs/vs2019/v16/ipch/AutoPCH/f2a4ccf84a2afb1f/MAIN.ipch
vsxmake2019/.vs/CoraEngine/v16/.suo
vsxmake2019/.vs/CoraEngine/v16/Browse.VC.db
vsxmake2019/.vs/CoraEngine/v16/Solution.VC.db
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/137f2d650244886a/CAMERA.ipch
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/187c165c0f9e15f8/RENDERSYSTEM.ipch
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/19340e4ff6531f0/MATH.ipch
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/2078a81cbf2c354b/PLAYER.ipch
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/3305ef1bd6db573/SHAPE.ipch
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/33e64089c9df272f/RENDERSYSTEM.ipch
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/42f22ee40c666000/SHAPE.ipch
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/4eb0725955b2bb91/SFMLPP.ipch
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/820508b64c2ad082/WINDOW.ipch
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/852b6ef38087ee41/WINDOW.ipch
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/966c55f976ad21f7/RENDERSYSTEM.ipch
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/a700ceb7edc8c657/MAP.ipch
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/e1d88600d246741/CAMERA.ipch
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/e638f2b7d500a034/MAIN.ipch
vsxmake2019/.vs/CoraEngine/v16/ipch/AutoPCH/f34b9f29883f4164/PLAYER.ipch
*.db-shm
*.db-wal
*.opendb
*.ipch
*.exp
